body{
    width: 100vw;
    height: 100vh;
    color: white;
    font-size: 1rem;
    font-family: $fuente-general;
    text-align: center;
    overflow-x: hidden;
    background-image: url(../assets/images/fondos/paisaje3.webp);
    background-size: cover;
}