$bg-especial: rgba(97, 97, 97,0.7);
$fuente-general: 'Allerta Stencil', sans-serif;
$fuente-especial: 'Black Ops One', cursive;
$borde-menu: 1px solid white;
$bg-menu: black;
$borde-menu-invertido: 1px solid black;
$bg-menu-invertido: white;